<md-content layout-gt-sm="row" layout-padding="" md-theme="docs-dark">
    <!--<div flex="66" flex-offset="15">-->


    <md-card>

        <md-card-content>
            <div layout="column" flex="66">

                <md-input-container>
                    <label>ISIN</label>
                    <input ng-model="upload.isin" required ng-pattern="/^[a-zA-Z]{2}[0-9]{10}$/">
                </md-input-container>


                <md-input-container>
                    <label>Document type</label>
                    <md-select ng-model="type">
                        <md-option ng-repeat="type in types" value="{{type}}">{{type}}</md-option>
                    </md-select>
                </md-input-container>

                <md-input-container>
                    <label>Region</label>
                    <md-select ng-model="region">
                        <md-option ng-repeat="region in regions" value="{{region}}">{{region}}</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout="row">

                <!--<div>-->
                    <!--<input class="ng-hide" id="input-file-id"  type="file"/>-->
                    <!--<label for="input-file-id" class="md-button md-raised md-primary">Choose Files</label>-->
                <!--</div>-->
                <md-list>
                    <md-list-item>
                        <md-input-container>
                            <label>Language</label>
                            <md-select ng-model="type">
                                <md-option ng-repeat="type in types" value="{{type}}">{{type}}</md-option>
                            </md-select>
                        </md-input-container>

                        <md-input-container>
                            <lf-ng-md-file-input lf-files="files"></lf-ng-md-file-input>
                        </md-input-container>
                    </md-list-item>
                </md-list>

            </div>

            <div layout="row">
                <md-input-container>

                    <md-button class="md-primary md-raised">Submit</md-button>
                </md-input-container>

            </div>
        </md-card-content>
    </md-card>
    <!--</div>-->
</md-content>
